.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.links {
  display: flex;
  gap: 10px;
}

.namePage {
  margin: 0;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 18px;
}

.active {
  color: #36ad36;
}